<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <h2>Result Management System</h2>
    </nav>
    <div class="container">
        <div class="logo">
            <img src="https://th.bing.com/th/id/R.1f6c405819e9edbd35e61ef403f4eff6?rik=lz84SYav4oyzMg&pid=ImgRaw&r=0" alt="">
        </div>
        <div class="forms">
            <form action="/api/login" method="post">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password Here">
                <button type="submit" class="button">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>